@model PracticeKudvenkat.ViewModels.HomeDetailsViewModel

<html>
<head>
    <title>Details page</title>
</head>

<body>

    <h3>The data will be pased from controller to view by model</h3>

    <div>
        @Model.PageTitle
    </div>
    <div>
        @Model.Employee
    </div>
</body>
</html>